{% extends 'base.html.twig' %}

{% block body %}
<main>
    <template>
        <div class="pokemon">
            <h2 class="pokemon-header">Pokemon</h2>
            <div class="pokemon-content" style="max-height: 0px;">
                <div class="pokemon-picture">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg" alt="Image de Pokemon">
                </div>
                <div class="pokemon-description">Description de Pokemon</div>
            </div>
        </div>
    </template>
</main>
{% endblock %}
